body{
    background-color: rgb(196, 227, 248);
}



.topflex{
    display: flex;
    justify-content: flex-start;
    font-family: arial;
}
.logo{
    background-color: transparent;
    padding: 50px;
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
}
.Chaussures{
    background-color: transparent;
    padding: 70px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.Mobilier{
    background-color: transparent;
    padding: 70px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.Fruits{
    background-color: transparent;
    padding: 70px;
    margin-left: 10px;
    margin-right: 35%;
    font-size: 20px;
    font-weight: bold;
}
.searchlogo{
    padding: 50px;
    margin-right: auto;
}

.cartlogo{
    padding: 50px;
    margin-right: 0;
}
.barreblanche{
    background-color: whitesmoke;
    padding: 2px;
    margin-top: 5px;
    justify-content: flex-end;
}





.contentflex{
    display: flex;
    justify-content: flex-start;
    font-family: arial; 
}
.textinpage{
    font-size: 15px;
    padding-left: 75px;
    padding-top: 60px;
    font-size: 18px;
}
.fruitimage{
    padding: 0px;
    padding-top: 150px;
}
