body{
    background-color: rgb(196, 227, 248);
}

.topflex{
    display: flex;
    justify-content: flex-start;
    font-family: arial;
}

.logo{
    background-color: transparent;
    padding: 50px;
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
}




.Chaussures{
    background-color: transparent;
    padding: 60px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}

.Mobilier{
    background-color: transparent;
    padding: 60px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}

.Fruits{
    background-color: transparent;
    padding: 60px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}

.searchlogo{
    background-color: transparent;
    padding: 60px;
    margin-left: auto;
}

.cartlogo{
    background-color: transparent;
    padding: 60px;
    margin-left: 100px;
}

.barreblanche{
    background-color: whitesmoke;
    padding: 2px;
    margin-top: 5px;
}

